body {
  background: #f5f5f5;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 15px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(13, 13, 13, 0.1);
  background: #f5f5f5;
  border-radius: 5px;
  border: 0px solid black;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  border: 0px solid white;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: #2196f3;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(13, 13, 13, 0.1);
  background: #f5f5f5;
  border-radius: 5px;
  border: 0px solid black;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  border: 0px solid white;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: #2196f3;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 30px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #e8e8e8;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(13, 13, 13, 0.1);
}
input[type=range]::-ms-fill-upper {
  background: #f5f5f5;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(13, 13, 13, 0.1);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  border: 0px solid white;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: #2196f3;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #f5f5f5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
